/*
  CIS 197 - React HW
  Author - Devesh Dayal
  The one and only CSS stylesheet for the page. Feel free to change things around!
*/

body {
  height: 100%;
  width: 100%;
  font-family: Ubuntu, sans-serif;
}

h4 {
  text-transform: uppercase;
  color: #17822c;
  font-size: 18px;
  margin: 5px;
}

button {
  text-transform: uppercase;
  margin: 2px;
  font-weight: 200;
  background: rgba(255, 255, 255, 1);
  border: none;
}

button:hover {
  cursor: pointer;
  font-weight: 800;
  border-left: 2px solid #17822c;
}

button:focus {outline:0;}

.title {
  text-align: center;
  font-weight: 300;
  font-size: 35px;
}

.loading {
  text-align: center;
  font-size: 20px;
  padding: auto;
}

.container {
  min-height: 432px;
  min-width: 576px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.cell {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
  position: relative;
}

.cell:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  height: 75%;
  border-radius:50%;
}

.circle.blue {
  background-color:#178DDC;
}

.circle.red {
  background-color: #AA1411;
}

/*.board-component {
  margin: auto;
  min-height: 432px;
  min-width: 576px;
  border-radius: 10px;
  border: 2px solid #ccc;
}*/

/*.cell {
  display:block;
  border-radius:4px;
  float:left;
  border:1px solid #ccc;
  height:10px;
  width:10px;
  user-select:none;
}
*/
.cell:hover {
  border-color:#f00
}

.cell.alive {
  background-color:#178DDC
}

.controls {
  width: 50%;
  float: left;
}
/**/
